.search__city {
  padding-top: 50px;
}

.search-form {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  border-radius: 10px;
}

.search-input {
  display: inline-block;
  width: 71%;
  height: 50px;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  padding-left: 10px;
  color: black;
}

.microphone-button {
  display: inline-block;
}

.search-button {
  cursor: pointer;
  padding: 0px 10px;
  height: 50px;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  line-height: 50px;
  font-size: 17px;
  background-color: black;
  opacity: 0.8;
}

.search-button:active {
  transform: scale(0.9);
}

.search-button.lock {
  cursor: default;
}

.search-button.lock:active {
  transform: none;
}