@font-face {
  font-family: RussoOne;
  src: url(../fonts/RussoOne.ttf);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "RussoOne", Arial, sans-serif;
  letter-spacing: 0.3px;
}

.html {
  font-size: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

img {
  pointer-events: none;
}

.shadow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  z-index: 2;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.page__loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 999;
}

.loader__spinner {
  border: 16px solid #a3a3a3;
  border-top: 16px solid #007aff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.query-loader-body {
  z-index: 900;
  top: 0;
  background: black;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 10px;
}

.query-loader-item {
  z-index: 901;
  background: rgb(87, 87, 87);
  height: 10px;
  animation: load 4s linear infinite;
}

@keyframes load {
  0% { transform: scaleX(0%); }
  100% { transform: rotate(100%); }
}

.app__header {
  position: relative;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 6vw);
  height: 50px;
  padding: 20px 3vw;
  overflow: hidden;
  z-index: 3;
}

.header__section-left {
  display: flex;
  align-items: center;
  flex: 2;
}

.header__section-right {
  display: flex;
  align-items: center;
  flex: 1;
}

.app__body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 6vw);
  height: calc(100vh - 130px);
  padding: 20px 3vw;
  overflow: hidden;
  z-index: 3;
}

.weather__current-city {
  width: 100vw;
  line-height: 4rem;
  font-size: 4rem;
  font-weight: bolder;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.body__section {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

@media (min-width: 1920px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 1365px) and (max-width: 1919px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 720px) and (max-width: 1023px) {
  html {
    font-size: 80%;
  }

  body {
    height: 1200px;
    overflow-y: scroll;
  }

  .page__loader {
    align-items: flex-start;
    height: 1200px;
  }

  .loader__spinner {
    margin-top: 30vh;
  }
  
  .shadow {
    height: 1200px;
  }

  .background-image {
    width: auto;
    height: 1200px;
  }

  .app__header {
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
  }

  .app__body {
    align-items: center;
    height: 900px;
  }

  .body__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 480px) and (max-width: 719px) {
  html {
    font-size: 60%;
  }

  body {
    height: 1200px;
    overflow-y: scroll;
  }

  .page__loader {
    align-items: flex-start;
    height: 1200px;
  }

  .loader__spinner {
    margin-top: 30vh;
  }

  .shadow {
    height: 1200px;
  }

  .background-image {
    width: auto;
    height: 1200px;
  }

  .app__header {
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
  }

  .app__body {
    align-items: center;
    height: 900px;
  }

  .body__section {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  html {
    font-size: 60%;
  }

  body {
    height: 1700px;
    overflow-y: scroll;
  }

  .page__loader {
    align-items: flex-start;
    height: 1700px;
  }

  .loader__spinner {
    margin-top: 30vh;
  }

  .shadow {
    height: 1700px;
  }

  .background-image {
    width: auto;
    height: 1700px;
  }

  .app__header {
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
  }

  .app__body {
    align-items: center;
    height: 1400px;
  }

  .body__section {
    display: flex;
    flex-direction: column;
  }
}
