/* @font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
} */

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Roboto-Medium", Arial, sans-serif;
  letter-spacing: 0.3px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  pointer-events: none;
}

.shadow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  z-index: 2;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.app__page {
  display: flex;
  flex-direction: row;
  position: absolute;
  user-select: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
}

.section__left {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.section__right {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page__loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 999;
}

.loader {
  border: 16px solid #a3a3a3;
  border-top: 16px solid #007aff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.query-loader-body {
  z-index: 900;
  top: 0;
  background: black;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 10px;
}

.query-loader-item {
  z-index: 901;
  background: rgb(87, 87, 87);
  height: 10px;
  animation: load 4s linear infinite;
}

@keyframes load {
  0% { transform: scaleX(0%); }
  100% { transform: rotate(100%); }
}
