.weather {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-right: 3vw;
  overflow: hidden;
}

.weather__current {
  position: relative;
  width: 100%;
  height: 50vh;
}

.weather__current-datetime {
  display: flex;
  flex-direction: row;
  font-size: 1.7rem;
  font-weight: 700;
}

.current-datetime__date {
  display: flex;
  flex-direction: row;
}

.current-datetime__monthday {
  margin-left: 10px;
}

.current-datetime__month {
  margin-left: 10px;
}

.current-datetime__time {
  margin-left: 30px;
}

.current-datetime__timezone {
  margin-left: 30px;
}

.weather__current-weather {
  display: flex;
  flex-direction: row;
}

.current-weather__degrees {
  position: relative;
  line-height: 23rem;
  font-size: 25rem;
  font-weight: 700;
  flex: 2;
}

.current-weather__degrees > span:nth-child(2){
  position: relative;
  left: 1vw;
}

.current-weather__additional {
  margin-left: 35px;
  font-size: 1.5rem;
  flex: 1;
}

.additional__weather-icon {
  display: block;
  width: 70%;
  height: auto;
}

.additional__description {
  
}

.additional__feels {
  margin-top: 12px;
}

.additional__wind {
  margin-top: 12px;
}

.additional__humidity {
  margin-top: 12px;
}

.weather__forecast-weather {
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
  overflow: hidden;
}

.forecast-weather__day {
  display: flex;
  flex-direction: column;
  margin-right: 3vh;
}

.day__title {
  font-size: 2rem;
  font-weight: 700;
}

.day__weather {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.day__degrees {
  font-size: 4rem;
  font-weight: 700;
}

.day__weather-icon {
  width: 70%;
  height: auto;
}

@media (min-width: 720px) and (max-width: 1023px) {

}

@media (min-width: 480px) and (max-width: 719px) {
  .weather__current {
    height: 30vh;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .weather__current {
    height: 100%;
  }

  .current-weather__degrees {
    font-size: 15rem;
    line-height: 15rem;
  }

  .weather__current-weather {
    flex-direction: column;
    align-items: center;
  }

  .current-weather__additional {
    font-size: 3rem;
  }

  .weather__forecast-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .day__title {
    text-align: center;
  }
}